@model Category

<form action="" method="post">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2 mb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr/>
        </div>
        <div class=" mb-3 row mb-2">
            <label asp-for="Name">Category Name</label>
            <input type="text" class="form-control"asp-for="Name"/>
            <span asp-validation-for="Name" class="text-danger "></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="DisplayOrder">Display Order</label>
            <input type="text" class="form-control" asp-for="DisplayOrder"/>
            <span asp-validation-for="DisplayOrder" class="text-danger "></span>

        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn-danger btn form-control ">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Category" asp-action="Index" class="btn btn-outline-secondary border form-control">Go Back To List</a>
            </div>
        </div>

    </div>
</form>

